<div class="d-flex">

  <!-- SIDEBAR -->
  <aside class="bg-dark text-white p-3" style="width: 250px; min-height: 100vh;">

    <!-- LOGO -->
    <div class="mb-4">
      <h5 class="mb-0">
        <span class="text-primary">Tatame</span><span class="text-danger">GO</span>
      </h5>
      <small class="text-muted">Painel Admin</small>
    </div>

    <ul class="nav flex-column gap-1">

     <li class="nav-item">
      <a href="/admin/academia" class="nav-link text-white">
        <i class="bi bi-building me-2"></i>
        Academia
      </a>
    </li>

      <li class="nav-item">
        <a href="/admin/aluno" class="nav-link text-white">
           Alunos
        </a>
      </li>

      <li class="nav-item">
        <a href="/admin/graduacao" class="nav-link text-white">
           Graduações
        </a>
      </li>

    </ul>

  </aside>

</div>