

<h4>Academias</h4>
<form method="GET">
  <select name="academy_id" class="form-select" onchange="this.form.submit()">
      {{academies}}
  </select>
</form>

<h4>Alunos</h4>
<table class="table table-light">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nome completo</th>
      <th scope="col">Data de nascimento</th>
      <th scope="col">Telefone</th>
      <th scope="col">Nome do responsável</th>
      <th scope="col">Telefone do responsável</th>
      <th scope="col">Data de cadastro</th>
    </tr>
  </thead>
  <tbody>
     {{students}}
  </tbody>
</table>

{{pagination}}
